body {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    
    font-weight: 700;
    font-size: 4rem;
    position: absolute;
    top: 2em;
    left: 3em;
    line-height: 1.5em;
    border: 0 0 1 0 solid #F03613;
}

/* .rubberband:hover {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 1.5s; 
} */

.container {
    max-width: 60%;
    height: 70vh;
    margin: 2em auto;
    background-color: #A2EEEB;
    background-image: url(/assets/2020summer.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.rubberband {
    padding: 0 .8rem;
   
    
}
.rubberband2 {
    color: #F03613;
}

/* .rectangle {
   width: 100px;
   height: 50px;
   color:red;
   background-color: blue;
   display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 2s;
} */

.circleContainer {
    width: 60%;
    height: 30%;
    margin: auto auto;
}

/* .waterdrop {
    position: absolute;
    bottom: 100px;
    right: 100px;

} */

.watersplash {
    width: 60%;
    position: absolute;
    bottom: 23px;
    left: 413px;
}

.waterdrop1 {
    color: rgb(0, 183, 255);
    font-size: 1rem;
    position: absolute;
    top: 160px;
    left: 195px;
}

.waterdrop2 {
    color: rgb(0, 183, 255);
    font-size: 2rem;
    position: absolute;
    top: 160px;
    left: 195px;
}

.waterdrop3 {
    color: rgb(0, 183, 255);
    font-size: 5rem;
    position: absolute;
    top: 160px;
    left: 195px;
}

