body {
    box-sizing: border-box;
    margin: 0;
}
h1 {
    color:#F03613;
    font-weight: 700;
    font-size: 4rem;
    position: absolute;
    top: 2.3em;
    left: 2em;
    line-height: 1.5em;
    border: 0 0 1 0 solid #F03613;
}

/* .rubberband:hover {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 1.5s; 
} */

.container {
    max-width: 60%;
    height: 70vh;
    margin: 2em auto;
    background-color: #A2EEEB;
    background-image: url(/assets/2020summer.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.rubberband {
    padding: 0 .8rem;
   
    
}
.rubberband2 {
    color: #27B46E;
}

/* .rectangle {
   width: 100px;
   height: 50px;
   color:red;
   background-color: blue;
   display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 2s;
} */

.circleContainer {
    width: 60%;
    height: 30%;
    margin: auto auto;
}
